<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Shopping</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="icon" th:href="@{img/favicon.png}" />-->
    <!-- Place favicon.ico in the root directory -->

    <!-- all css here -->
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome.min.css -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- owl.carousel.css -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- shortcode/shortcodes.css -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- nivo-slider.css -->
    <link rel="stylesheet" th:href="@{/css/nivo-slider.css}">
    <!-- style.css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive.css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- content.css -->
    <link rel="stylesheet" th:href="@{/css/content.css}">
<!--    <link rel="stylesheet" th:href="@{/css/content.css}">-->


    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>


</head>
</html>