<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Notice !! <br/> <br/> <br/>


<!--<div><a th:href="@{/customer/save}">AdministratorLogin</a></div>-->
<div>Before you proceed Shopping we want to inform you that the items you order will be delivered to the address and the information from you profile. So if you want to change now then,<a th:href="@{/editAccount(username=${session.user?.username})}">Update Profile</a></div><br/><br/><br/>


<div>You can always edit you it from your profile.</div><br/><br/><br/><br/>


<div>If you are okay with it now, then <a th:href="@{loginHome}">Proceed</a></div>

</body>
</html>