<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/header::head}">
    <link rel="stylesheet" th:href="@{/static/css/UserProfile.css}">

</head>

<header th:fragment="top-head">
    <header>

        <!--[if lt IE 8]
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <!-- header -->
        <!-- header-top-area-start -->
        <div class="header-top-area black-bg ptb-7 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="header-top-left">
                            <span><a th:href="@{contact}">Contact Us:</a>Group2</span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8">
                        <div class="header-top-right">
<!--                            <ul>-->
<!--                                <li class="slide-toggle"><a th:href="@{/myAccount(username=${users.getUsername()})}" th:object="${users}""><i class="fa fa-user"></i> <span th:text="${session.user?.username}"></span></a>-->
<!--                                    <ul class="show-toggle">-->
<!--                                        <li><a href="#">register</a></li>-->
<!--                                        <li><a href="#">login</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
                            <ul>
                                <li><a th:href="@{checkout}"><i class="fa fa-check"></i> Checkout</a></li>
                            </ul>
                            <ul>
                                <li class="slide-toggle-2 text-uppercase"><a href="#"><i class="fa fa-usd"></i>USD</a>
                                    <ul class="show-toggle-2">
                                        <li><a href="#"><i class="fa fa-eur"></i> EUR</a></li>
                                        <li><a href="#"><i class="fa fa-gbp"></i> GBP</a></li>
                                        <li><a href="#"><i class="fa fa-usd"></i> USD</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="slide-toggle-3 text-uppercase"><a href="#">fr-ca</a>
                                    <ul class="show-toggle-3">
                                        <li><a href="#">en-gb</a></li>
                                        <li><a href="#">fr-ca</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top-area-end -->
        <!-- header-bottom-area-start -->
        <div class="header-bottom-area bg-color-1 ptb-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a th:href="@{loginHome}"><img th:src="@{/static/img/logo.png}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="header-bottom-middle">
                            <div class="top-search">
                                <span class="tex_top_skype"><i class="fa fa-skype"></i>Skype: <span class="">Group2</span></span>
                                <span class="tex_top_email"><i class="fa fa-envelope"></i>Email: <span class="">Group@2.com</span></span>
                            </div>
                            <div class="search-box">
                                <form action="#">
                                    <select name="#" id="select">
                                        <option value="">All categories</option>
                                        <option value="40">Accessories</option>
                                        <option value="41">Clothing</option>
                                        <option value="42">-Hoodies</option>
                                        <option value="47">-T-shirts</option>
                                        <option value="43">Men's</option>
                                        <option value="50"> -Hats</option>
                                        <option value="44">Music</option>
                                        <option value="46">-Singles</option>
                                        <option value="49">-Albums</option>
                                        <option value="45">Posters</option>
                                        <option value="48">Women's</option>
                                        <option value="51">-Hats</option>
                                        <option value="52">----Shoes</option>
                                        <option value="53">----Scarves</option>
                                        <option value="54">Jewellery</option>
                                        <option value="55">---Rings</option>
                                        <option value="56">----Gold Ring</option>
                                        <option value="57">----platinum ring</option>
                                        <option value="58">----Silver Ring</option>
                                        <option value="59">----Diamond rings</option>
                                        <option value="60">---Necklaces</option>
                                        <option value="61">----Diamond necklaces</option>
                                        <option value="62">----Pearl necklaces</option>
                                        <option value="63">----Silver necklaces</option>
                                        <option value="64">----Statement necklaces</option>
                                        <option value="65">Equipments</option>
                                        <option value="73">---Accessories</option>
                                        <option value="78">----headphone</option>
                                        <option value="79">----health</option>
                                        <option value="80">----camera</option>
                                        <option value="74">---beauty</option>
                                        <option value="75">----run</option>
                                        <option value="76">----evening</option>
                                        <option value="77">----coats</option>
                                        <option value="66">Watches</option>
                                        <option value="67">Books</option>
                                        <option value="68">Sports</option>
                                        <option value="69">Gifts</option>
                                    </select>
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="header-bottom-right">
                            <div class="left-cart">
                                <div class="header-compire">
                                    <a th:href="@{wishlist}"><i class="fa fa-heart"></i> Wish List 1 </a>
                                    <a href="#"><i class="fa fa-refresh"></i> Compare  0 </a>
                                </div>
                            </div>
                            <div class="shop-cart-area">
                                <div class="top-cart-wrapper">
                                    <div class="block-cart">
                                        <div class="top-cart-title">
                                            <a href="#">
                                                <span class="title-cart">my cart</span>
                                                <span class="count-item">2 items</span>
                                                <span class="price">$444.00</span>
                                            </a>
                                        </div>
                                        <div class="top-cart-content">
                                            <ol class="mini-products-list">
                                                <!-- single item -->
                                                <li>
                                                    <a class="product-image" th:href="@{product/details}">
                                                        <img alt="" th:src="@{/static/img/cart/1.jpg}">
                                                    </a>
                                                    <div class="product-details">
                                                        <p class="cartproduct-name">
                                                            <a th:href="@{product/details}">Pellentesque habitant </a>
                                                        </p>
                                                        <strong class="qty">qty:1</strong>
                                                        <span class="sig-price">$222.00</span>
                                                    </div>
                                                    <div class="pro-action">
                                                        <a class="btn-remove" href="#">remove</a>
                                                    </div>
                                                </li>
                                                <!-- single item -->
                                                <!-- single item -->
                                                <li>
                                                    <a class="product-image" th:href="@{product/details}">
                                                        <img alt="" th:src="@{/static/img/cart/2.jpg}">
                                                    </a>
                                                    <div class="product-details">
                                                        <p class="cartproduct-name">
                                                            <a th:href="@{product/details}">New catolog</a>
                                                        </p>
                                                        <strong class="qty">qty:1</strong>
                                                        <span class="sig-price">$222.00</span>
                                                    </div>
                                                    <div class="pro-action">
                                                        <a class="btn-remove" href="#">remove</a>
                                                    </div>
                                                </li>
                                                <!-- single item -->

                                            </ol>
                                            <div class="top-subtotal">
                                                Subtotal: <span class="sig-price">$444.00</span>
                                            </div>
                                            <div class="cart-actions">
                                                <a th:href="@{checkout}"><button><span>Checkout</span></button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area-end -->
    </header>																											<!-- header -->
    <!-- mainmenu-area-start -->
    <div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <!--                <div class="col-lg-3 col-md-3">-->
                <!--                    <div class="mainmenu-left visible-lg  visible-md">-->
                <!--                        <div class="product-menu-title">-->
                <!--                            <h2>All categories <i class="fa fa-arrow-circle-down"></i></h2>-->
                <!--                        </div>-->
                <!--                        <div class="product_vmegamenu">-->
                <!--                            <ul>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/1.png}" alt="" /> Automotive & Motorcycle</a></li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/2.png}" alt="" />Bags, Shoes & Accessories</a></li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/3.png}" alt="" /> Cameras & Photo</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/4.png}" alt="" /> Computers & Networking</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/5.png}" alt="" />Flashlights & Lamps</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"  class="hover-icon"><img th:src="@{/img/menu-l/6.png}" alt="" />Laptops & Accessories</a>-->
                <!--                                    <div class="vmegamenu">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">Linux</a>-->
                <!--										<a href="#">Edubuntu</a>-->
                <!--										<a href="#">Kubuntu</a>-->
                <!--										<a href="#">Lubuntu</a>-->
                <!--										</span>-->
                <!--                                        <span>-->
                <!--											<a href="#" class="vgema-title">Mac </a>-->
                <!--											<a href="#">Mac OS X 10.0</a>-->
                <!--											<a href="#">Mac OS X 10.7</a>-->
                <!--											<a href="#">OS X 10.11</a>-->
                <!--										</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Ubuntu</a>-->
                <!--										<a href="#">Ubuntu Server</a>-->
                <!--										<a href="#">Ubuntu Studio</a>-->
                <!--										<a href="#">Ubuntu TV</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Windows</a>-->
                <!--										<a href="#">Windows 10</a>-->
                <!--										<a href="#">Windows 7</a>-->
                <!--										<a href="#">Windows 8.1</a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#" class="hover-icon"><img th:src="@{/img/menu-l/12.png}" alt="" />Sports & Outdoors</a>-->
                <!--                                    <div class="vmegamenu">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">Electronic</a>-->
                <!--										<a href="#">Bedroom</a>-->
                <!--										<a href="#">Kitchen</a>-->
                <!--										<a href="#">Living room</a>-->
                <!--										<a href="#">Out door</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Lights</a>-->
                <!--										<a href="#">All lights</a>-->
                <!--										<a href="#">Bed room</a>-->
                <!--										<a href="#">Living room</a>-->
                <!--										<a href="#">Out door</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Television</a>-->
                <!--										<a href="#">Samsung</a>-->
                <!--										<a href="#">Samsung Oled</a>-->
                <!--										<a href="#">Sony</a>-->
                <!--										<a href="#">Sony Bravia</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Washing</a>-->
                <!--										<a href="#">Commercial</a>-->
                <!--										<a href="#">Front-Load </a>-->
                <!--										<a href="#">Pedestal </a>-->
                <!--										<a href="#">Top-Load </a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#" class="hover-icon"><img th:src="@{/img/menu-l/7.png}" alt="" />Smartphone & Tablets</a>-->
                <!--                                    <div class="vmegamenu vmegamenu2">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">HandBags</a>-->
                <!--										<a href="#">Kids</a>-->
                <!--										<a href="#">Mens</a>-->
                <!--										<a href="#">Student</a>-->
                <!--										<a href="#">Women</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Clothing</a>-->
                <!--										<a href="#">Children</a>-->
                <!--										<a href="#">Kids</a>-->
                <!--										<a href="#">Mens</a>-->
                <!--										<a href="#">Womens</a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/8.png}" alt="" />Health & Beauty</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/9.png}" alt="" />Toys & Hobbies</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/10.png}" alt="" />Holiday Supplies & Gifts</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/11.png}" alt="" />Jewelry & Watches</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/5.png}" alt="" />Smartphone & Watches</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/4.png}" alt="" />Health Watches</a>-->
                <!--                                </li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-lg-9 col-md-9">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a th:href="@{loginHome}">Home</a></li>
                                <li><a th:href="@{about}">About</a></li>
                                <li><a th:href="@{shop}">Shop</a></li>
                                <li><a th:href="@{carts}">Cart</a></li>
                                <!--                                <li><a th:href="@{login}">Login</a></li>-->
<!--                                <li><a th:href="@{myAccount}">My Account</a></li>-->
                                <li><a th:href="@{contact}">Contact Us</a></li>
                                <!--                                <li><a th:href="@{registration}">Register </a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a th:href="@{loginHome}">Home</a></li>
                                <li><a th:href="@{about}">About</a></li>
                                <li><a th:href="@{shop}">Shop</a></li>
                                <li><a th:href="@{carts}">Cart</a></li>
                                <!--                                <li><a th:href="@{login}">Login</a></li>-->
<!--                                <li><a th:href="@{myAccount}">My Account</a></li>-->
                                <li><a th:href="@{contact}">Contact Us</a></li>
                                <!--                                <li><a th:href="@{registration}">Register </a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>User Profile</h1></div>
        <!--        <div class="col-sm-2"><a th:href="@{/users}" class="pull-right"><img title="profile image" class="img-circle img-responsive" th:src="@{http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100}"></a></div>-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="add"> <a type="button" th:href="@{/editAccount(username=${session.user?.username})}">Edit Profile</a></div>
        </div>
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img th:src="@{http://ssl.gstatic.com/accounts/ui/avatar_2x.png}" class="avatar img-circle img-thumbnail" alt="avatar">
<!--                <h6>Upload a different photo...</h6>-->
<!--                <input type="file" class="text-center center-block file-upload">-->
            </div></hr><br>
        </div>
    </div>

    <!--            <hr>-->
    <!--            <form class="form" action="##" method="post" id="registrationForm">-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="first_name"><h4>First name</h4></label>-->
    <!--                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="last_name"><h4>Last name</h4></label>-->
    <!--                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="phone"><h4>Phone</h4></label>-->
    <!--                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="form-group">-->
    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="mobile"><h4>Mobile</h4></label>-->
    <!--                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="email"><h4>Email</h4></label>-->
    <!--                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="email"><h4>Location</h4></label>-->
    <!--                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="password"><h4>Password</h4></label>-->
    <!--                        <label type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password."></label>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="form-group">-->

    <!--                    <div class="col-xs-6">-->
    <!--                        <label for="password2"><h4>Verify</h4></label>-->
    <!--                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="col-xs-12">&ndash;&gt;-->
    <!--&lt;!&ndash;                        <br>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>&ndash;&gt;-->

    <!--            </form>-->
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="row">
                <div class="col-md-6">
                    <label>Username</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.username}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>fName</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.fname}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>lName</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.lname}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Contact No.</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.contactnum}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Gender</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.gender}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>CompanyName</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.companyname}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.email}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Country</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.country}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>City</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.city}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Address</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.address}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>State</label>
                </div>
                <div class="col-md-6">
                    <span th:text="${session.user?.state}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<footer th:replace="~{include/footer::foot}">
    <script th:src="@{/static/js/UserProfile.js}"></script>
</footer>

</html>