<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/header::head}">
</head>

<header th:fragment="top-head">
    <header>

        <!--[if lt IE 8]
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <!-- header -->
        <!-- header-top-area-start -->
        <div class="header-top-area black-bg ptb-7 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="header-top-left">
                            <span><a th:href="@{contactus}">Contact Us:</a>Group2</span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8">
                        <div class="header-top-right">
                            <ul>
                                <li class="slide-toggle"><a th:href="@{account.html}"><i class="fa fa-user"></i> My Account</a>
                                    <ul class="show-toggle">
                                        <li><a href="#">register</a></li>
                                        <li><a href="#">login</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><a th:href="@{payment}"><i class="fa fa-check"></i> Checkout</a></li>
                            </ul>
                            <ul>
                                <li class="slide-toggle-2 text-uppercase"><a href="#"><i class="fa fa-usd"></i>USD</a>
                                    <ul class="show-toggle-2">
                                        <li><a href="#"><i class="fa fa-eur"></i> EUR</a></li>
                                        <li><a href="#"><i class="fa fa-gbp"></i> GBP</a></li>
                                        <li><a href="#"><i class="fa fa-usd"></i> USD</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="slide-toggle-3 text-uppercase"><a href="#">fr-ca</a>
                                    <ul class="show-toggle-3">
                                        <li><a href="#">en-gb</a></li>
                                        <li><a href="#">fr-ca</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top-area-end -->
        <!-- header-bottom-area-start -->
        <div class="header-bottom-area bg-color-1 ptb-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a th:href="@{home}"><img th:src="@{/img/logo.png}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="header-bottom-middle">
                            <div class="top-search">
                                <span class="tex_top_skype"><i class="fa fa-skype"></i>Skype: <span class="">Group2</span></span>
                                <span class="tex_top_email"><i class="fa fa-envelope"></i>Email: <span class="">Group@2.com</span></span>
                            </div>
                            <div class="search-box">
                                <form action="#">
                                    <select name="#" id="select">
                                        <option value="">All categories</option>
                                        <option value="40">Accessories</option>
                                        <option value="41">Clothing</option>
                                        <option value="42">-Hoodies</option>
                                        <option value="47">-T-shirts</option>
                                        <option value="43">Men's</option>
                                        <option value="50"> -Hats</option>
                                        <option value="44">Music</option>
                                        <option value="46">-Singles</option>
                                        <option value="49">-Albums</option>
                                        <option value="45">Posters</option>
                                        <option value="48">Women's</option>
                                        <option value="51">-Hats</option>
                                        <option value="52">----Shoes</option>
                                        <option value="53">----Scarves</option>
                                        <option value="54">Jewellery</option>
                                        <option value="55">---Rings</option>
                                        <option value="56">----Gold Ring</option>
                                        <option value="57">----platinum ring</option>
                                        <option value="58">----Silver Ring</option>
                                        <option value="59">----Diamond rings</option>
                                        <option value="60">---Necklaces</option>
                                        <option value="61">----Diamond necklaces</option>
                                        <option value="62">----Pearl necklaces</option>
                                        <option value="63">----Silver necklaces</option>
                                        <option value="64">----Statement necklaces</option>
                                        <option value="65">Equipments</option>
                                        <option value="73">---Accessories</option>
                                        <option value="78">----headphone</option>
                                        <option value="79">----health</option>
                                        <option value="80">----camera</option>
                                        <option value="74">---beauty</option>
                                        <option value="75">----run</option>
                                        <option value="76">----evening</option>
                                        <option value="77">----coats</option>
                                        <option value="66">Watches</option>
                                        <option value="67">Books</option>
                                        <option value="68">Sports</option>
                                        <option value="69">Gifts</option>
                                    </select>
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="header-bottom-right">
                            <div class="left-cart">
                                <div class="header-compire">
                                    <a th:href="@{wishlist}"><i class="fa fa-heart"></i> Wish List 0 </a>
                                    <a href="#"><i class="fa fa-refresh"></i> Compare  0 </a>
                                </div>
                            </div>
                            <div class="shop-cart-area">
                                <div class="top-cart-wrapper">
                                    <div class="block-cart">
                                        <div class="top-cart-title">
                                            <a href="#">
                                                <span class="title-cart">my cart</span>
                                                <span class="count-item"></span>
                                                <span class="price"></span>
                                            </a>
                                        </div>
                                        <div class="top-cart-content">
                                            <ol class="mini-products-list">
                                                <!-- single item -->
<!--                                                <li>-->
<!--                                                    <a class="product-image" th:href="@{product-details.html}">-->
<!--                                                        <img alt="" th:src="@{/img/cart/1.jpg}">-->
<!--                                                    </a>-->
<!--                                                    <div class="product-details">-->
<!--                                                        <p class="cartproduct-name">-->
<!--                                                            <a th:href="@{product-details.html}">Pellentesque habitant </a>-->
<!--                                                        </p>-->
<!--                                                        <strong class="qty">qty:1</strong>-->
<!--                                                        <span class="sig-price">$222.00</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="pro-action">-->
<!--                                                        <a class="btn-remove" href="#">remove</a>-->
<!--                                                    </div>-->
<!--                                                </li>-->
                                                <!-- single item -->
                                                <!-- single item -->
<!--                                                <li>-->
<!--                                                    <a class="product-image" th:href="@{product-details.html}">-->
<!--                                                        <img alt="" th:src="@{/img/cart/2.jpg}">-->
<!--                                                    </a>-->
<!--                                                    <div class="product-details">-->
<!--                                                        <p class="cartproduct-name">-->
<!--                                                            <a th:href="@{product-details.html}">New catolog</a>-->
<!--                                                        </p>-->
<!--                                                        <strong class="qty">qty:1</strong>-->
<!--                                                        <span class="sig-price">$222.00</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="pro-action">-->
<!--                                                        <a class="btn-remove" href="#">remove</a>-->
<!--                                                    </div>-->
<!--                                                </li>-->
                                                <!-- single item -->

                                            </ol>
                                            <div class="top-subtotal">
                                                Subtotal: <span class="sig-price"></span>
                                            </div>
                                            <div class="cart-actions">
                                                <a href="#"><button><span>Checkout</span></button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area-end -->
    </header>																											<!-- header -->
    <!-- mainmenu-area-start -->
    <div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <!--                <div class="col-lg-3 col-md-3">-->
                <!--                    <div class="mainmenu-left visible-lg  visible-md">-->
                <!--                        <div class="product-menu-title">-->
                <!--                            <h2>All categories <i class="fa fa-arrow-circle-down"></i></h2>-->
                <!--                        </div>-->
                <!--                        <div class="product_vmegamenu">-->
                <!--                            <ul>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/1.png}" alt="" /> Automotive & Motorcycle</a></li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/2.png}" alt="" />Bags, Shoes & Accessories</a></li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/3.png}" alt="" /> Cameras & Photo</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/4.png}" alt="" /> Computers & Networking</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/5.png}" alt="" />Flashlights & Lamps</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"  class="hover-icon"><img th:src="@{/img/menu-l/6.png}" alt="" />Laptops & Accessories</a>-->
                <!--                                    <div class="vmegamenu">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">Linux</a>-->
                <!--										<a href="#">Edubuntu</a>-->
                <!--										<a href="#">Kubuntu</a>-->
                <!--										<a href="#">Lubuntu</a>-->
                <!--										</span>-->
                <!--                                        <span>-->
                <!--											<a href="#" class="vgema-title">Mac </a>-->
                <!--											<a href="#">Mac OS X 10.0</a>-->
                <!--											<a href="#">Mac OS X 10.7</a>-->
                <!--											<a href="#">OS X 10.11</a>-->
                <!--										</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Ubuntu</a>-->
                <!--										<a href="#">Ubuntu Server</a>-->
                <!--										<a href="#">Ubuntu Studio</a>-->
                <!--										<a href="#">Ubuntu TV</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Windows</a>-->
                <!--										<a href="#">Windows 10</a>-->
                <!--										<a href="#">Windows 7</a>-->
                <!--										<a href="#">Windows 8.1</a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#" class="hover-icon"><img th:src="@{/img/menu-l/12.png}" alt="" />Sports & Outdoors</a>-->
                <!--                                    <div class="vmegamenu">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">Electronic</a>-->
                <!--										<a href="#">Bedroom</a>-->
                <!--										<a href="#">Kitchen</a>-->
                <!--										<a href="#">Living room</a>-->
                <!--										<a href="#">Out door</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Lights</a>-->
                <!--										<a href="#">All lights</a>-->
                <!--										<a href="#">Bed room</a>-->
                <!--										<a href="#">Living room</a>-->
                <!--										<a href="#">Out door</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Television</a>-->
                <!--										<a href="#">Samsung</a>-->
                <!--										<a href="#">Samsung Oled</a>-->
                <!--										<a href="#">Sony</a>-->
                <!--										<a href="#">Sony Bravia</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Washing</a>-->
                <!--										<a href="#">Commercial</a>-->
                <!--										<a href="#">Front-Load </a>-->
                <!--										<a href="#">Pedestal </a>-->
                <!--										<a href="#">Top-Load </a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#" class="hover-icon"><img th:src="@{/img/menu-l/7.png}" alt="" />Smartphone & Tablets</a>-->
                <!--                                    <div class="vmegamenu vmegamenu2">-->
                <!--									<span>-->
                <!--										<a href="#" class="vgema-title">HandBags</a>-->
                <!--										<a href="#">Kids</a>-->
                <!--										<a href="#">Mens</a>-->
                <!--										<a href="#">Student</a>-->
                <!--										<a href="#">Women</a>-->
                <!--									</span>-->
                <!--                                        <span>-->
                <!--										<a href="#" class="vgema-title">Clothing</a>-->
                <!--										<a href="#">Children</a>-->
                <!--										<a href="#">Kids</a>-->
                <!--										<a href="#">Mens</a>-->
                <!--										<a href="#">Womens</a>-->
                <!--									</span>-->
                <!--                                    </div>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/8.png}" alt="" />Health & Beauty</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/9.png}" alt="" />Toys & Hobbies</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/10.png}" alt="" />Holiday Supplies & Gifts</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/11.png}" alt="" />Jewelry & Watches</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/5.png}" alt="" />Smartphone & Watches</a>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <a href="#"><img th:src="@{/img/menu-l/4.png}" alt="" />Health Watches</a>-->
                <!--                                </li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-lg-9 col-md-9">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a th:href="@{home}">Home</a></li>
                                <li><a th:href="@{aboutus}">About</a></li>
                                <li><a th:href="@{/allProducts}">Shop</a></li>
                                <li><a th:href="@{cart}">Cart</a></li>
                                <li><a th:href="@{login}">Login</a></li>
                                <li><a th:href="@{account.html}">My Account</a></li>
                                <li><a th:href="@{contactus}">Contact Us</a></li>
                                <li><a th:href="@{registration}">Register </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a th:href="@{home}">Home</a></li>
                                <li><a th:href="@{aboutus}">About</a></li>
                                <li><a th:href="@{/allProducts}">Shop</a></li>
                                <li><a th:href="@{cart}">Cart</a></li>
                                <li><a th:href="@{login}">Login</a></li>
                                <li><a th:href="@{account.html}">My Account</a></li>
                                <li><a th:href="@{contactus}">Contact Us</a></li>
                                <li><a th:href="@{registration}">Register </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<link rel="stylesheet" th:href="@{/css/ProDetails.css}">
<div class="detail-container">

    <!--     Left Column / Product Image-->

    <img th:src="${'/image/' + products.prodid}" th:object="${products}" alt="Image">

    <!--    <div class="left-column">-->
    <!--        <img th:src="@{/img/product/9.jpg}" alt="">-->
    <!--        <img th:src="@{/img/product/7.jpg}" alt="">-->
    <!--        <img th:src="@{/img/product/9.jpg}" alt="">-->
    <!--    </div>-->

    <!--     Right Column-->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span th:text="${products.prodname}"></span>
            <p></p><span class="price product-price" th:text="${products.prodprice}">¥</span></p>
        </div>
        <div class="pro-description">
            <p><span th:text="${products.description}"></span></p>
        </div>

        <!--        &lt;!&ndash; Product Configuration &ndash;&gt;-->
        <!--        <div class="product-configuration">-->

        <!--            &lt;!&ndash; Product Color &ndash;&gt;-->
        <!--            <div class="product-color">-->
        <!--                <span>Color</span>-->

        <!--                <div class="color-choose">-->
        <!--                    <div>-->
        <!--                        <input data-image="red" type="radio" id="red" name="color" value="red" checked>-->
        <!--                        <label for="red"><span></span></label>-->
        <!--                    </div>-->
        <!--                    <div>-->
        <!--                        <input data-image="blue" type="radio" id="blue" name="color" value="blue">-->
        <!--                        <label for="blue"><span></span></label>-->
        <!--                    </div>-->
        <!--                    <div>-->
        <!--                        <input data-image="black" type="radio" id="black" name="color" value="black">-->
        <!--                        <label for="black"><span></span></label>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->

        <!--            &lt;!&ndash; Cable Configuration &ndash;&gt;-->
        <!--            <div class="cable-config">-->
        <!--                <span>Laptop Configuration</span>-->

        <!--                <div class="size-choose">-->
        <!--                    <button>4GB-1TB</button>-->
        <!--                    <button>8GB-1TB</button>-->
        <!--                    <button>12GB-1TB</button>-->
        <!--                </div>-->
        <!--&lt;!&ndash;                <div class="size-choose">&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button>i5-8250u</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button>i7-8750h</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button>i9-9900k</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="cable-config">-->
        <!--                <span>Processor Configuration</span>-->

        <!--                <div class="size-choose">-->
        <!--                    <button>i5-8250u</button>-->
        <!--                    <button>i7-8750h</button>-->
        <!--                    <button>i9-9900k</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        &lt;!&ndash; Product Pricing &ndash;&gt;-->
        <!--        <div class="product-price">-->
        <!--            <span>300$</span>-->
        <!--&lt;!&ndash;            <a th:href="@{cart}" class="cart-btn">Add to cart</a>&ndash;&gt;-->
        <!--        </div>-->
        <div class="product-icon">
            <div class="product-icon-left f-left">
                <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
            </div>
            <div class="product-icon-right floatright">
                <!--                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>-->
                <a href="# " data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
            </div>
        </div>
    </div>
</div>

</body>


<footer th:replace="~{include/footer::foot}">
    <script th:src="@{/js/ProDetails.js}"></script>
</footer>

</html>